<!--<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-6"></div>
    <div class="col-md-1"  [routerLink]="['/Dashboard']" >Accueil</div>
    <div class="col-md-1"[routerLink]="['/About']" >A propos</div>
    <div class="col-md-1"[routerLink]="['/Contact']" >Contact</div>


  </div>
</div>-->
<nav class="navbar navbar-findcond navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Amine JAOUADI</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"[routerLink]="['/Dashboard']" >Accueil</a>


        </li>
        <li class="active"><a [routerLink]="['/About']" >A propos</a></li>
        <li class="dropdown">
          <a   class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"[routerLink]="['/Contact']" >Contact</a>
        </li>
        <li class="dropdown">
          <a   class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"[routerLink]="['/Contact']" >helooooo</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
