.checkbox label:after,
.radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 3.25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  background-color: #eceff3 !important;
}

.radio .cr {
  border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.radio .cr .cr-icon {
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"]:checked +  + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:checked + disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}
span + span:before{
  margin-left: 10px;
  color: slategrey;
  font-size: 18px;
  font-family: monospace;
}
.inputolor{
  color: green;
  background-color: green;
}
.textStyle{
  font-family: serif;
  font-size: 29px !important;
  color: #5f4da6;
}
.outils{
  margin-left: 16px;
  font-family: initial;
  font-size: 16px;
  color: #8d959d;
}
.glyphicon {
  color: #a6d5a1 !important;
}
.dev{
  font-family: initial;
  font-size: 19px;
  color: #3e164a;
}
.soc{
  font-size: 17px;
  font-family: cursive;
  color: #2e78b8;
}
