<div class="row">
  Expériences professionnelles

</div>
<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-6">
    <a>Language</a> <br/>
    <label> <input type="checkbox" checked name="a" value="1" />JAVA</label> <br/>
    <label> <input type="checkbox" checked name="a" value="1" />HTML</label> <br/>
    <label> <input type="checkbox"checked name="a" value="1" />CSS</label> <br/>
    <label> <input type="checkbox"checked name="a" value="1" />JSON</label> <br/>
    <label> <input type="checkbox" checked name="a" value="1" />JavaScript</label> <br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
<a>Framworks</a>
    <br/>
    <input type="checkbox" class="mgc mgc-primary" checked /> Info

    <br/>
<label> <input type="checkbox"  checked name="a" value="1" />Spring MVC</label>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />Angular(4)</label>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />AngularJs</label>    <br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
<a>Base de données</a>
<label> <input type="checkbox" checked name="a" value="1" />MySql</label>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />PostgreSQL</label>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />MongoDB</label>    <br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
<a>Outils collaboratifs: </a>
 <label for="radios2"> <span>Jira </span><input type="radio" value="radios2" checked name="quality1" id="radios2"><input type="radio" value="radios2" checked name="quality1" id="radios3"></label>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />Git</label>    <br/>
    <div class="checkbox checkbox-success">
 <input type="checkbox" id="checkbox"/></div>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />GitHub</label>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />Putty</label>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />SourceTree</label>    <br/>
<label> <input type="checkbox" checked name="a" value="1" />mantis</label>    <br/>

  </div>

</div>

