
    <div class="row">
      <div class="col-md-8">
        <h3><span class="textStyle">Expériences professionnelles</span></h3>
        <hr/>
        <h4><span class="dev">Développeur web</span>,<span class="soc">Platana,Sfax,Tunisie</span>
        </h4>
        <div  class="checkbox" >
          <label>
            <span class="cr"></span><span style="color: #999a9b"> Conception et développement de module de documentation</span>
          </label>
        </div>
        <h4><span class="dev">Développeur AngularJs</span>,<span class="soc">Xpermedia,Sousse,Tunisie</span>
        </h4>
        <div class="checkbox"  >
          <label >
            <span class="cr"></span><span style="color: #999a9b">Développement d'un module <b  style="color: #5b5b5b">FullCalendar</b></span>
          </label>
        </div>
        <div class="checkbox"  >
          <label >
            <span class="cr"></span><span style="color: #999a9b">Conception  et développement d'une application web  <b style="color: #5b5b5b">Gestion des fichiers</b></span>
          </label>
        </div>
        <div  class="checkbox" >
          <label>
            <span class="cr"></span><span style="color: #999a9b">Amélioration d'une application <b  style="color: #5b5b5b">Lecteur vidéo</b></span>
          </label>
        </div>
        <h4><span class="dev">Projet de fin d’étude</span> , <span class="soc">IDEAL Conception, Sousse,Tunisie</span>


        </h4>
        <div  class="checkbox" >

          <label>
            <span class="cr "></span><span style="color: #999a9b"> Conception et développement de module de gestion des ressources humaines</span>
          </label>
        </div>
        <div  class="checkbox" >
          <label>
            <span class="cr"></span><span style="color: #999a9b"> Conception et développement de module de documentation</span>
          </label>
        </div>
        <label><span style="font-family: cursive;color: #064781;">Technologies : </span><span style="color: #999a9b;    font-family: monospace;font-size: 13px;">JAVA, SpingBoot, Hibernate, JPA, OOP, RESTApi,Postgresql, JavaScript, AngularJS, Bootstrap,
Maven, gulp ,yeomen, npm, bower</span></label>

        <h2><span class="textStyle">Formations</span></h2>
        <hr/>
        <div  class="checkbox"  >
          <label>
            <span class="cr"></span><span style="color: #999a9b">Diplôme d'ingénieur en informatique appliquée <br/>à l'Ecole Nationale d’Ingénieurs de
Sousse(ENISo)</span>
          </label>
        </div>
        <div  class="checkbox"  >
          <label>
            <span class="cr"></span><span style="color: #999a9b">Classes préparatoires à l'IPEI Nabeul</span>
          </label>
        </div>

      </div>
      <div class="col-md-4">
        <h3><span class="textStyle">Languages</span></h3><hr/>
        <div>
      <label>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils"> JAVA</span></label>
    </div>
    <div   >
      <label>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils"> JAVAScript</span></label>
    </div>
    <div   >
      <label>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils">
        HTML   </span>   </label>
    </div>
    <div   >
      <label>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils">
        CSS</span>      </label>
    </div>
    <div   ><label><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils">JSON </span></label></div>

        <h3><span class="textStyle">Faramworks</span></h3><hr/>
        <div><label><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="outils">Spring Framework</span></label></div>
        <div><label><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="outils">Spring Boot</span></label></div>
        <div><label><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="outils">AngularJs</span></label></div>
        <div><label><span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="outils">Angular</span></label></div>
        <h3><span class="textStyle">Outils collaboratifs</span></h3><hr/>
        <div>
          <label>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="outils">Jira</span>    </label>
        </div>
        <div>
          <label>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils">    GitHub</span></label>
        </div>
        <div>
          <label>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils">    Gitlab</span></label>
        </div>
        <div>
          <label>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span class="outils">Putty</span></label>
        </div>
        <div>
          <label>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils"> mantis</span></label>
        </div>
        <div>
          <label>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span> <span class="outils"> SourceTree</span></label>
        </div>

      </div>

</div>

