
@import url(http://fonts.googleapis.com/css?family=Cabin:700);

/* HTML5 Boilerplate radio-one hidden styles */
[type="radio"] {
  border: 0;
  height: 1px; margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
label {
  display: block;
  cursor: pointer;  /*hand view when on hover*/
  line-height: 2.5;
  font-size: 1em;
}

/* the basic, unchecked style */
span + [type="radio"]:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;           /*hard border*/
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;   /*light shadow*/
  margin-right: 0.75em;
  transition: 0.5s ease all;    /*animation here*/
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #78BE20;
  box-shadow: 0 0 0 0.1em #000;
}
