 <h2>Expériences professionnelles</h2>
  <hr/>
    <div class="row">
      <div class="col-md-8">
        <h4>Développeur web,Platana,Sfax,Tunisie (02/2018,Aujourd'hui)
        </h4>
        <h4>Développeur AngularJs,Xpermedia,Sousse,Tunisie (07/2017,12/2017)
        </h4>
        <div class="checkbox">
          <label><input type="checkbox" value="" cheked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span style="color: #999a9b">Développement d'un module <b  style="color: #5b5b5b">FullCalendar</b></span>
          </label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="" cheked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span><span style="color: #999a9b">Conception  et développement d'une application web  <b style="color: #5b5b5b">Gestion des fichiers</b></span>
          </label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="" cheked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok" ></i></span><span style="color: #999a9b">Amélioration d'une application <b  style="color: #5b5b5b">Lecteur vidéo</b></span>
          </label>
        </div>
        <h4>Projet de fin d’étude , IDEAL Conception, Sousse,Tunisie (02/2017,06/2017)


        </h4>
        <div class="checkbox">
          <label><input type="checkbox" value="" cheked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok" ></i></span><span style="color: #999a9b"> Conception et développement de module de gestion des ressources humaines</span>
          </label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="" cheked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok" ></i></span><span style="color: #999a9b"> Conception et développement de module de documentation</span>
          </label>
        </div>
        <label><span style="font-family: cursive;">     Technologies : </span><span style="color: #999a9b;    font-family: monospace;font-size: 13px;">JAVA, SpingBoot, Hibernate, JPA, OOP, RESTApi,Postgresql, JavaScript, AngularJS, Bootstrap,
Maven, gulp ,yeomen, npm, bower</span></label>
      </div>
      <div class="col-md-4">
        <h3>Languages</h3>
        <div class="checkbox">
      <label><input type="checkbox" value="" cheked>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>JAVA</label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" checked>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>JAVAScript</label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" disabled>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        HTML      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" disabled>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        CSS      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" disabled>
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
        JSON      </label>
    </div>
  </div>


</div>
