<div class="row">
  <div class="col-xs-12 col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d4841.990581840725!2d10.752024199897122!3d34.73930372877163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e3!4m0!4m3!3m2!1d34.738423!2d10.7547417!5e0!3m2!1sfr!2stn!4v1520266659251"   frameborder="0" style=" width: 100%;
    height: 322px;border:0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6"><label style="font-size: 18px;font-style: normal;font-family: monospace; color: lightskyblue;">Informations</label>
    <br/>
    <p style="color:#aeb1b7">Vous pouvez utiliser les informations suivantes ou le formulaire de contact ci-dessous pour me contacter.</p>

    <br/>
  <div style="font-size: 18px;font-style: normal;font-family: monospace; color: lightskyblue;">Me contacter</div>
    <br>
      <div>
      <img src="../assets/img/icon-mobile.png" style="border-radius: 50%; width: 34px;"> <a>(+216) 20027067</a>
      </div><br/>
      <div>
        <img src="../assets/img/mail.png" style="border-radius: 50%; width: 34px;"> <a>aminee.jaouadi@gmail.com</a>
      </div><br/>
      <div>
     <img src="../assets/img/linkedin.png" style="border-radius: 50%; width: 34px;"> <a href="https://www.linkedin.com/in/amine-jaouadi-72153310b/">LinkedIn</a>
      </div><br/>


    </div>


</div>
<hr>
<app-mail></app-mail>
