
<div class='row' style="    margin-top: 158px;">
  <div class='col-sm-4'>
    <div class="panel panel-default">
      <img src="../assets/img/profil.jpg" style=" margin-top: -25%;
    border-radius: 150%;
    width: 213px;
    position: inherit;
    margin-left: 25%;
    margin-right: 50%" class="img-responsive">
      <div class="panel-body">
        <p> Ingénieur en informatique diplômé de l’École Nationale d’Ingénieurs de Sousse en 2017 .
          Je suis intéressé aux nouvelles technologies et plus particulièrement Java/JEE (Spring) et
          AngularJs,Angular .<br/>A ce jour, je suis actif en tant que developpeur web </p>
      </div>
    </div>
  </div>
  <div class='col-sm-8'>
    <div class="panel panel-default">
      <div class="panel-body" style="padding-top: 100%">

      </div>
      </div>
    </div>
</div>
