<form  class="form-group">
  <div class="row">
    <div class="col-md-1">
      <label>Nom  </label>
    </div>
    <div class="col-md-6">
<div class="form-group">
    <input type="text" class="form-control" placeholder="Votre nom"/>
  </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-1">
    <label>Email </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input type="text"  class="form-control" placeholder="Votre email"/>
    </div>
    </div>

  </div>
  <br/>


  <div class="row">
    <div class="col-md-1">
      <label>Objet </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
     <input type="text"  class="form-control" placeholder="Objet"/>

    </div>
  </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-1">
      <label>Message  </label>
    </div>
    <div class="col-md-6">
      <div class="form-group">
    <textarea type="text"  class="form-control" placeholder="Votre message"></textarea>
      </div>
  </div>
  </div>

</form>
